@font-face {
    font-family: fuente1;
    src: url('archives.css/LilitaOne-Regular.ttf');
}

.pagPrincipal{
    margin-top: 15%;
}

body{
    background-image: url('../mutimedia/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: fuente1, sans-serif;
}

.boton{
    font-family: fuente1, sans-serif;
    margin-top: 80px;
    border:3px solid black;
    background-color: #ad5ceb;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 15px;
    font-size: 40px;
    width: 400px;
    height: 100px;
}

.boton:hover{
    background-color:#9340ea;
}
.cartita{
    float: left;
    width: 500px;
    height: 500px;
    margin-left: 100px;
    font-size: 17px;
    background-color: khaki;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;;
}

.flores{
    float: right;
    margin-top: 50px;
    margin-right: 200px;
    animation: moverArriba 2s ease-in-out infinite;
}

@keyframes moverArriba {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-100px);
    }
    100% {
        transform: translateY(0);
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    body {
        font-size: 10px;
    }

    .pagPrincipal{
        margin-top: 120px;
        font-size: 10px;
        height: 100%;
    }

    .texto{
        width: 150px;
        margin-left: -40px;
    }

    .boton{
        width: 300px;
        margin-left: -40px;
    }

    .cartita{
        width: 300px;
        height: 760px;
        margin-left: 13px;
    }

    .flores{
        width: 200px;
        margin-right: 110px;
    }
}